.note {
    border: 1px solid #1a1717;
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: #eee4b7;
}

.note h1 {
    font-size: 22px;
    font-weight: bold;
}

.note p {
    font-size: 14px;
}

