<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update note</title>
</head>
<body>

<form th:method="PUT" th:action="@{/notes/{id}(id=${note.getNoteId()})}" th:object="${note}">
    <label for="title">Enter title: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <br/>
    <label for="content">Enter content: </label>
    <input type="text" th:field="*{content}" id="content"/>
    <br/>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>