<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New note</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="note">
    <form th:method="POST" th:action="@{/notes}" th:object="${note}">
        <label for="title">Enter title: </label>
        <input type="text" th:field="*{title}" id="title"/>
        <br/>
        <label for="content">Enter content: </label>
        <input type="text" th:field="*{content}" id="content"/>
        <br/>
        <br/>
        <label for="italics">Enter styleText: </label>
        <input type="text"  th:field="${note.styleText.italics}" id="italics"/>

        <br/>
        <input type="submit" value="Create!"/>
    </form>
</div>
</body>
</html>