<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заметка</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="note">
    <p th:text="${note.getTitle()}">VALUE</p>
    <p th:text="${note.getContent()}">VALUE</p>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <a th:href="@{/notes/{id}/edit(id=${note.getNoteId()})}">Edit</a>
    <a th:href="@{/notes/new}">Add</a>
    <a th:href="@{/notes/list}">List</a>
    <form th:method="DELETE" th:action="@{/notes/{id}(id=${note.getNoteId()})}">
        <input type="submit" value="Delete"/>
    </form>
</div>

</body>
</html>
